@page "/superadmin/localizationtext"
@inherits SuperAdminLayout
@layout SuperAdminLayout

@inject IJSRuntime JSRuntime
@inject IAppControllerAsync<UserAuthenticated> _appctrl
@inject IMembershipGatewayManager _memberservices
@inject IAuthGatewayManager _appservices
@inject IAppSettings _settings
@inject NavigationManager NavigationManager
@inject HttpClient _httpclient

<BreadCrumbView IsHome="false" HomeURL="/superadmin/home" PageTitle="Localization Text" ></BreadCrumbView>

<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
            <div class="content flex-row-fluid" id="kt_content">        
                <div class="">        

                    @if (view != null)
                    {
                        <div style="display:@view.SearchingState">

                            <div class="row gy-5 g-xl-10">

                                <div class="col-xl-4">                                
                                    <div class="card card-flush h-xl-100">								      
								        <div class="card-header pt-7">
									  
									        <h3 class="card-title align-items-start flex-column">
										        <span class="card-label fw-bold text-dark">Search</span>										
									        </h3>									        
									       
                                        </div>
                                           
                                        <div class="card-body">
										         <div class="form-group">
                                                    <label class="form-label">By Language:</label>
                                                        <input type="text" maxlength="5" @bind-value="view.param.pLanguage" class="form-control"
                                                       placeholder="Search by Language">
                                                </div>

                                                 <div class="form-group">
                                                    <label class="form-label">By Code:</label>
                                                    <input type="text" maxlength="20" @bind-value="view.param.pCode" class="form-control"
                                                       placeholder="Search by Code">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">By Name:</label>
                                                    <input type="text" maxlength="20" @bind-value="view.param.pName" class="form-control"
                                                       placeholder="Search by Name">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">By Text:</label>
                                                    <input type="text" maxlength="20" @bind-value="view.param.pText" class="form-control"
                                                       placeholder="Search by Text">
                                                </div>

                                                <p class="field" style="padding-top:10px">

                                                    <TaskButton @ref="searchbtn" OnClick="OnSearch" Title="Search"
                                                         Description="Click here to search" ReadOnly=!view.Permissions.AllowRead
                                                                ActionLabel="Searching...">
                                                    </TaskButton>

                                                </p>									       
									    
                                                 <p class="field" style="padding-top:10px">
                                                     <TaskButton @ref="newbtn" OnClick="OnNew" Title="New Record" Class="dark"
                                                          Description="Click here to insert new record" Disabled="" 
                                                          ReadOnly=!view.Permissions.AllowSave
                                                          ActionLabel="Inserting...">
                                                        </TaskButton>

                                                 </p>
                                           </div>
								        </div>
                                     </div>
                                                            
                                <div class="col-xl-8">

                                    <div class="card card-flush h-xl-100">
										
										<div class="card-header pt-7">
											
											<h3 class="card-title align-items-start flex-column">
												<span class="card-label fw-bold text-dark">Search Results</span>												
											</h3>
                                        </div>

                                        <div class="card-body">
                                            @if (view.searchresult != null)
                                            {
                                                @if (view.searchresult.Count > 0)
                                                {
                                                      <DataGrid TItem="LocalizationTextResult" Data="@view.searchresult"  Responsive  ShowPager >                                                                                                                                      
                                                        <DataGridColumns>
                                            
                                                            <DataGridColumn Field="@nameof(LocalizationTextResult.Language)" Caption="Language" />
                                                            <DataGridColumn Field="@nameof(LocalizationTextResult.Code)" Caption="Code" />
                                                            <DataGridColumn Field="@nameof(LocalizationTextResult.Name)" Caption="Name" />

                                                             <DataGridColumn Field="@nameof(LocalizationTextResult.LocalizationTextID)" Caption="Edit">
                                                                <DisplayTemplate>
                                                                      @{
                                                                            LocalizationTextResult obj = (context as LocalizationTextResult);
                                                                                                                                                   
                                                                            @if(view.Permissions.AllowSave)
                                                                            {
                                                                                <IconButton Icon="IconButton.TYPEICONENUM.EDIT"
                                                                                 OnClick="()=>OnDetClick(obj.LocalizationTextID)"></IconButton>
                                                                            }
                                                                      }
                                                    
                                                                </DisplayTemplate>
                                                            </DataGridColumn>

                                                            </DataGridColumns>
                                      
                                                        </DataGrid>

                                                }
                                                else
                                                {
                                                    <p> No records found </p>
                                                }
                                              }
                                         
                                        </div>

                                    </div>
                                                                  

                                </div>

                           
                             </div>

                        </div>                       

                        <div style="display:@view.EditingState">
                            
                           <BackButton OnClick="Back"></BackButton>
                           
                           <div class="row gy-5 g-xl-10">

                                    <div class="col-xl-8">                                
                                        <div class="card card-flush h-xl-100">								      
		                                    <div class="card-header pt-7">
									  
			                                    <h3 class="card-title align-items-start flex-column">
				                                    <span class="card-label fw-bold text-dark">Localization Text Record</span>										
			                                    </h3>									        
									       
                                            </div>
                                           
                                            <div class="card-body">										            
                                                    
                                                  <div class="row">
                                                        <div class="col-md-6">                                                            

                                                            <div class="form-group">
                                                                <label class="form-label" for="language">Language:</label>
                                                                <input type="text" maxlength="5" class="form-control field" @bind-value="@view.result.Language" />
                                                                <label class="validation_field">@view.GetSummaryMessage("Language") </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                     <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label"  for="code">Code:</label>
                                                                <input type="text" maxlength="10" class="form-control field" @bind-value="@view.result.Code" />
                                                                 <label class="validation_field">@view.GetSummaryMessage("Code") </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">                                                            

                                                            <div class="form-group">
                                                                <label class="form-label" for="name">Name:</label>
                                                                <input type="text" maxlength="50" class="form-control field" @bind-value="@view.result.Name" />
                                                                <label class="validation_field">@view.GetSummaryMessage("Name") </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">                                                            

                                                            <div class="form-group">
                                                                <label class="form-label" for="name">Text:</label>
                                                                    <input type="text" maxlength="255" class="form-control field" @bind-value="@view.result.Text" />                                                                                                                                        
                                                                    <label class="validation_field">@view.GetSummaryMessage("Text") </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                     <div class="row">
                                                        <div class="col-md-12">

                                                            <p class="field" style="padding-top:10px">

                                                                <TaskButton @ref="savenewbtn" OnClick="OnSet" Title="Save"
                                                                    Description="Click here to save data."
                                                                    ActionLabel="Saving..." ReadOnly=!view.Permissions.AllowSave>
                                                                </TaskButton>

                                                            </p>
                                                         </div>
		                                           </div>

                                             </div>
		                                </div>
                                    </div>
                                                            
                                                           
                                 </div>                                                                                   

                        </div>
                    }
                    else
                    {
                        <h5>Loading page. Please wait...</h5>

                    }
                </div>
            </div>
        </div>


<MessageBox @ref="msgbox"></MessageBox>

<MessageBox @ref="msgbox_create" 
    ButtonNo="true" ButtonYes="true" ButtonOK="false" 
    OnClickYes="OnNew" >
</MessageBox>

<TaskLoading @ref="loading" Title="Loading page. Please wait..."></TaskLoading>

@code {


    private MessageBox msgbox;
    private MessageBox msgbox_create;
    private TaskLoading loading;
    private TaskButton searchbtn;
    private TaskButton statebtn;
    private TaskButton newbtn;
    private TaskButton savenewbtn;


    //

    private UserAuthenticated LoggedUser;
    private LocalizationTextViewModel view; 
   
    //

    private async Task InitResources()
    {        
        ((TemplateAppController)_appctrl).Settings = _settings;

        if (await _appctrl.IsAuthenticated())
        {
            LoggedUser = _appctrl.UserInfo;
            _memberservices.Init(_httpclient,_settings.ServiceURL,LoggedUser.Token);
            
            view = new LocalizationTextViewModel((_memberservices as MembershipGateway) ,LoggedUser); 

            List<UserPermissions> list = await _appctrl.GetUserPermissions();
            view.Permissions
               = BaseViewModel.SetPermissions(list, "SYSLOCALIZATIONTEXT", false);
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await InitResources();
            await view.InitializeModels(); 
            StateHasChanged();
        }
    }

    public async Task OnSearch()
    {
        searchbtn.Begin(); 
        await view.Search();

        if (!view.ExecutionStatus.Status)
        {
           await msgbox.ShowDialog("Error on search", view.ExecutionStatus.Error.Message);
        }

        searchbtn.End();
    }

    public void OnNew()
    {

        view.InitNew(); 
        StateHasChanged();
    }

    public async Task OnGet(object id)
    {
        await loading.Begin() ;

        await view.Get(id);

        await loading.End();

        if (!view.ExecutionStatus.Status)
        {
           await msgbox.ShowDialog("Error on retreave data", view.ExecutionStatus.Error.Message);
        }
        else
        {
            view.InitEdit(); 

        }

        StateHasChanged();
    }

  
    public async Task OnSet()
    {        
         savenewbtn.Begin(); 
       
         await view.Set(); 

        if (!view.ExecutionStatus.Status)
        {
            await msgbox.ShowDialog("Error on save", view.ExecutionStatus.Error.Message);
        }
        else
        {
            if (this.view.Inserting)
            {
                await msgbox_create.ShowDialog("Success!", "The record was saved successfully. Continue inserting ?");
            }
            else
            {
                await msgbox.ShowDialog("Success!", "The record was saved successfully.");
                this.Back();
            }

        }

        savenewbtn.End();

    }
     
    public async Task OnDetClick(object id)
    {        
       await OnGet(id);

    }

    public void Back()
    {
        view.BackToSearch(); 
        StateHasChanged();

    }

    public void GoHome()
    {
        string url = _appctrl.UserInfo.HomeURL;
        NavigationManager.NavigateTo(url);

    }
 


}