@page "/superadmin/accesslog"
@inherits SuperAdminLayout
@layout SuperAdminLayout

@inject IJSRuntime JSRuntime
@inject IAppControllerAsync<UserAuthenticated> _appctrl
@inject IMembershipGatewayManager _memberservices
@inject IDataCacheGatewayManager _cache
@inject IAppSettings _settings
@inject NavigationManager NavigationManager
@inject HttpClient _httpclient


<BreadCrumbView IsHome="false" HomeURL="/superadmin/home"
                PageTitle=@_PageTitle></BreadCrumbView>

<MessageBox @ref="msgbox"></MessageBox>

<TaskLoading @ref="loading" Title=@_LoadingData_Text></TaskLoading>

  <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
        <div class="content flex-row-fluid" id="kt_content">        
            <div class="">  
                @if (view != null)
                {

                     <div style="display:@view.SearchingState">

                        <div class="row gy-5 g-xl-10">

                            <div class="col-xl-4">                                
                                <div class="card card-flush h-xl-100">								      
								    <div class="card-header pt-7">
									  
									    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-bold text-dark">@view.texts.SearchButtonLabel</span>
                                    </h3>									        
									       
                                    </div>
                                           
                                    <div class="card-body">
							             	
                                        <div class="form-group">
                                            <label class="form-label">@view.texts.SearchByEmail_Label:</label>
                                            <input type="email" @bind-value="@view.param.pEmail"
                                           placeholder=@view.texts.SearchByEmail_Description  class="form-control field">
                                    </div>                              
                                 
                                        <div class="form-group">
                                            <label class="form-label" for="name">@view.texts.SearchByDateInterval_Label:</label>
                                              <Switch TValue="bool" @bind-Checked="@view.param.SearchByDate"></Switch>
                                    
                                        </div>
                                  
                                        @if (view.param.SearchByDate)
                                        {
                                            <div class="form-group">

                                                <span>@view.texts.SearchByInicialDate_Label:</span>
                                                <DateEdit TValue="DateTime" @bind-Date="@view.param.pDate_Start" />
                                                <br/>
                                                <span>@view.texts.SearchByFinalDate_Label:</span>
                                                <DateEdit TValue="DateTime" @bind-Date="@view.param.pData_End" />                                        

                                            </div>
                                        }                                                     

                                        <p class="field" style="padding-top:10px">

                                        <TaskButton @ref="searchbtn" OnClick="OnSearch" Title=@view.texts.SearchButtonLabel
                                                ReadOnly=!view.Permissions.AllowRead
                                                ActionLabel=@view.texts.SearchingLabel>
                                        </TaskButton>

                                        </p>                                            

                                    </div>
							   </div>
                             </div>
                                                            
                            <div class="col-xl-8">

                                <div class="card card-flush h-xl-100">
										
									<div class="card-header pt-7">
											
										<h3 class="card-title align-items-start flex-column">
                                        <span class="card-label fw-bold text-dark">@view.texts.SearchResultLabel</span>
                                    </h3>
                                    </div>

                                    <div class="card-body">
                                            
                                            @if (view.searchresult != null)
                                            {
                                                @if (view.searchresult.Count > 0)
                                                {
                                                      <DataGrid TItem="SessionLogResult" Data="@view.searchresult"  Responsive  ShowPager PageSize=10>                                                                                         
                                             
                                                            <DataGridColumns>

                                                                <DataGridColumn Field="@nameof(SessionLogResult.Date)" Caption=@view.texts.AccessDate_Label />
                                                                <DataGridColumn Field="@nameof(SessionLogResult.Email)" Caption=@view.texts.Email_Label />
                                                                <DataGridColumn Field="@nameof(SessionLogResult.UserName)" Caption=@view.texts.UserName_Label />
                                                                <DataGridColumn Field="@nameof(SessionLogResult.IP)" Caption=@view.texts.IP_Label />

                                                             </DataGridColumns>
                                      
                                                       </DataGrid>
                                    
                                                }
                                                else
                                                {
                                                    <p> @view.texts.NoRecordsFound </p>
                                                }
                                            }
                                         
                                    </div>

                                </div>
                                                                  

                            </div>

                           
                        </div>

                    </div>   
                
                }
                else
                {
                <img src="../images/circle_loader.gif" style="width:32px;height:32px" />

                }

             </div>
        </div>
   </div>



@code {


    private MessageBox msgbox;  
    private TaskLoading loading;
    private TaskButton searchbtn;
     
    private string _LoadingData_Text;

    private string _PageTitle;

    //

    private UserAuthenticated LoggedUser;
    private SessionViewModel view; 

    //

    private async Task InitResources()
    {
      
        ((TemplateAppController)_appctrl).Settings = _settings;

        if (await _appctrl.IsAuthenticated())
        {
            LoggedUser = _appctrl.UserInfo;
            _memberservices.Init(_httpclient,_settings.ServiceURL,LoggedUser.Token);            
            view = new SessionViewModel((_memberservices as MembershipGateway) , 
                 (_cache as DataCacheGateway), LoggedUser);

            List<UserPermissions> list = await _appctrl.GetUserPermissions(LoggedUser.Token);
            view.Permissions
                = BaseViewModel.SetPermissions(list, "SYSSESSION", false);
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await InitResources();
            await view.InitializeModels();           

            _LoadingData_Text = view.texts.LoadingData;
            _PageTitle = view.texts.SessionLog_PageTitle;

            StateHasChanged();
        }
    }

    public async Task OnSearch()
    {
        searchbtn.Begin(); 
        await view.Search();

        if (!view.ExecutionStatus.Status)
        {
            await msgbox.ShowDialog(view.texts.ErrorOnExecuteSearch, view.ExecutionStatus.Error.Message);
        }

        searchbtn.End();
    }

    public void OnNew()
    {

        view.InitNew(); 
        StateHasChanged();
    }

    public async Task OnGet(object id)
    {
        await loading.Begin() ;

        await view.Get(id);

        await loading.End();

        if (!view.ExecutionStatus.Status)
        {
            await msgbox.ShowDialog(view.texts.ErrorOnReturnData, view.ExecutionStatus.Error.Message);
        }
        else
        {
            view.InitEdit(); 

        }

        StateHasChanged();
    }

   

    public async Task OnDetClick(object args)
    {        
        await OnGet(args);

    }

    public void Back()
    {
        view.BackToSearch(); 
        StateHasChanged();

    }

    public void GoHome()
    {
        string url = _appctrl.UserInfo.HomeURL;
        NavigationManager.NavigateTo(url);

    }


}